[workspace]
resolver = "2"
members = [
    "mash-installer",
    "tools/mash-release",
    "tools/mash-tools",
]

[workspace.package]
version = "1.2.14"

[profile.dev]
opt-level = 0
debug = 2
overflow-checks = true
incremental = true
codegen-units = 16

[profile.test]
opt-level = 0
debug = 2
overflow-checks = true
incremental = true
codegen-units = 16

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
